* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: lightblue;
  margin-left: 38%;
  margin-top: 100px;
}

.calculator {
  background-color: aliceblue;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
  padding-bottom: 35px;
  box-shadow: -2px 2px 5px gray;
}
.inputnums {
  align-items: center;
}
.inputnums div {
  margin: 10px;
  width: 100%;
}

button {
  background-color: rgb(131, 204, 229);
  border: none;
  padding: 5px;
  width: 100%;
  margin-top: 3px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(57, 176, 215);
}
