body {
  background-color: rgb(202, 249, 202);
}
h1 {
  background-color: rgb(218, 249, 218);
}

.agecalc {
  margin-left: 38%;
  margin-top: 150px;
  background-color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -2px 2px 7px gray;
}

p {
  font-weight: bold;
}
